<ul id="menu">
    <div id="indice">

     
      <li><a href="/cadastro">cadastre um instrumento</a></li>
   

    </div>

    <div id="indice">
      <li><a href="#cards">Instrumentos cadastrados</a></li>
    </div>
  </ul>