<!DOCTYPE html>
<html lang="pt-BR">
  
<head>
  <%- include('./components/head' ) %>
</head>


<body>


<main>

    <section id="cadastro">
        <h2>Cadastro</h2>

        <form action="/add" method="POST">

          <label for="nome">Nome:</label>
          <input type="text" id="nome" name="nome" required />

          <label for="imagem">Link da Imagem</label>
          <input type="text" id="imagem" name="imagem" required />

          <label for="cor">Cor:</label>
          <input type="text" id="cor" name="cor" required />

          <label for="datadefabricacao">Data de Fabricacao:</label>
          <input
            type="text"
            id="data de fabricacao"
            name="datadefabricacao"
            required
          />

          <label for="caracteristica">caracteristica</label>
          <input
            type="text"
            id="caracteristica"
            name="caracteristica"
            required
          />

          <label for="valor">Valor</label>
          <input type="text" id="valor" name="valor" required />

          <label for="formadepagamento">Forma de pagamento</label>
          <input
            type="text"
            id="Forma De Pagamento"
            name="formadepagamento"
            required
          />

          <button id="btnCadastrar" type="submit">Cadastrar</button>
        </form>
      </section>



</main>


<footer>
  <p>
    <a href="http://www.blueedtech.com.br" target="_blank"
      >www.blueedtech.com.br</a
    >
    <br />-Todos os direitos reservados.
  </p>
</footer>

   
</body>
</html>